/* line 3, ../sass/alex.scss */
.line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
}
/* line 9, ../sass/alex.scss */
.line img {
  max-width: 15rem;
  padding: 1rem;
}

/* line 17, ../sass/alex.scss */
.mainS {
  height: 100vh;
  position: relative;
}
/* line 21, ../sass/alex.scss */
.mainS .arrowBtn {
  position: absolute;
  bottom: 0;
}
/* line 25, ../sass/alex.scss */
.mainS .arrowBtn .custom-btn {
  position: absolute;
  padding: 0.25rem;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: #7309cc;
  animation: bouncing-btn .5s linear infinite both;
}
/* line 35, ../sass/alex.scss */
.mainS .arrowBtn .custom-btn:focus, .mainS .arrowBtn .custom-btn:hover, .mainS .arrowBtn .custom-btn:active {
  box-shadow: none;
  outline: none;
  border: none;
}
@keyframes bouncing-btn {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
/* line 55, ../sass/alex.scss */
.mainS .bgwhite {
  background-color: #fff;
}
/* line 59, ../sass/alex.scss */
.mainS .bgimage {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
/* line 65, ../sass/alex.scss */
.mainS .flyElement {
  position: absolute;
  height: 25rem;
  max-width: 35rem;
  background-color: #fff;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  box-shadow: 0 0 10px lightgray;
}
/* line 75, ../sass/alex.scss */
.mainS .flyElement h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2rem;
}
/* line 83, ../sass/alex.scss */
.mainS .flyElement p {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.7;
}
/* line 89, ../sass/alex.scss */
.mainS .flyElement::before {
  content: "";
  width: 13rem;
  height: 1.2rem;
  background: #7309cc;
  display: block;
  position: absolute;
  right: -25%;
}

/* line 102, ../sass/alex.scss */
.stat {
  position: static;
}

/* line 109, ../sass/alex.scss */
.footer {
  padding: 2rem;
}
/* line 111, ../sass/alex.scss */
.footer p {
  color: #fff;
  margin-bottom: 2rem;
}
/* line 115, ../sass/alex.scss */
.footer p a {
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
/* line 119, ../sass/alex.scss */
.footer p a:hover {
  text-shadow: 0px 0px 15px white;
}
/* line 126, ../sass/alex.scss */
.footer ul li {
  margin-right: 1rem;
  font-size: 1.5em;
}
/* line 130, ../sass/alex.scss */
.footer ul li a {
  padding: .5em;
  color: #fff;
  text-decoration: none;
  transition: ease 0.5s all;
  border: 1px solid transparent;
}
/* line 137, ../sass/alex.scss */
.footer ul li a:hover {
  border: 1px solid #fff;
  opacity: 60%;
}

/*----------------------------------------Media queries----------------------------------------------*/
/*---992-1200px---*/
/*---768-992px---*/
@media screen and (max-width: 992px) {
  /* line 165, ../sass/alex.scss */
  .mainS .flyElement h1 {
    font-size: 2.5em;
    line-height: 1.3;
  }
}
/*---576-768px---*/
@media screen and (max-width: 768px) {
  /* line 181, ../sass/alex.scss */
  .mainS .arrowBtn {
    bottom: -5%;
  }
  /* line 185, ../sass/alex.scss */
  .mainS .bgwhite {
    background-color: none;
  }
  /* line 190, ../sass/alex.scss */
  .mainS .flyElement {
    height: 16rem;
  }
  /* line 192, ../sass/alex.scss */
  .mainS .flyElement h1 {
    font-size: 2em;
    line-height: 1.3;
  }
  /* line 197, ../sass/alex.scss */
  .mainS .flyElement p {
    font-size: .8em;
  }
  /* line 202, ../sass/alex.scss */
  .mainS .flyElement::before {
    content: "";
    width: 10rem;
    height: 1.2rem;
  }
}
/*---320-576px---*/
@media screen and (max-width: 576px) {
  /* line 219, ../sass/alex.scss */
  .mainS img {
    max-width: 12rem;
    padding: 1rem;
  }
  /* line 224, ../sass/alex.scss */
  .mainS .arrowBtn {
    bottom: -6%;
  }
  /* line 228, ../sass/alex.scss */
  .mainS .flyElement {
    padding: 2rem;
  }
  /* line 230, ../sass/alex.scss */
  .mainS .flyElement h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1.3rem;
  }
  /* line 238, ../sass/alex.scss */
  .mainS .flyElement p {
    font-size: .7em;
    font-weight: bold;
    line-height: 1.5;
  }
  /* line 244, ../sass/alex.scss */
  .mainS .flyElement::before {
    display: none;
  }
}
/*---320-576px---*/
@media screen and (max-width: 319px) {
  /* line 260, ../sass/alex.scss */
  .mainS .line img {
    display: none;
  }
}
