/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/style.scss */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

/* line 30, ../sass/style.scss */
.mt10vh {
  margin-top: 10vh;
}

/* line 34, ../sass/style.scss */
.mb10vh {
  margin-bottom: 10vh;
}

/* line 38, ../sass/style.scss */
.h100vh {
  height: 100vh;
}

/* line 42, ../sass/style.scss */
.mh25vh {
  min-height: 25vh;
}

/* line 46, ../sass/style.scss */
.big-text {
  font-size: 2em;
}

/* line 50, ../sass/style.scss */
.bld {
  font-weight: bold;
}

/* line 54, ../sass/style.scss */
.mw1280 {
  max-width: 1280px;
}

/* line 58, ../sass/style.scss */
.no-bg {
  background: none;
}

/* line 62, ../sass/style.scss */
.h2-mt-mb-7vh, .sec2 .row h2, .sec3 h2.big-text, .sec4 h2.big-text, .sec5 .rgba-bg h2.big-text, .sec7 h2.big-text {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

/* line 67, ../sass/style.scss */
.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

/* line 73, ../sass/style.scss */
.bgPlacement, .sec2 .row .card-img-holder, .sec5 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 79, ../sass/style.scss */
.h100vh {
  height: 100vh;
}

/* line 83, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 87, ../sass/style.scss */
.lh1-5 {
  line-height: 1.5;
}

/* line 91, ../sass/style.scss */
.list-group-heading {
  font-weight: bold;
  font-size: 17px;
}

/* line 96, ../sass/style.scss */
small {
  font-size: 10px;
}

/* line 103, ../sass/style.scss */
#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
/* line 117, ../sass/style.scss */
#menu .menu-links-list {
  position: relative;
  line-height: 1.5;
  background-color: rgba(52, 58, 64, 0.9);
}
/* line 132, ../sass/style.scss */
#menu .menu-links-list .links-wrapper {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}
/* line 138, ../sass/style.scss */
#menu .menu-links-list .links-wrapper li {
  width: max-content;
}
/* line 141, ../sass/style.scss */
#menu .menu-links-list .links-wrapper li a {
  color: white;
  font-weight: bold;
  transition: .3s linear;
  width: max-content;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 141, ../sass/style.scss */
  #menu .menu-links-list .links-wrapper li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  /* line 141, ../sass/style.scss */
  #menu .menu-links-list .links-wrapper li a {
    font-size: 20px;
  }
}
/* line 156, ../sass/style.scss */
#menu .menu-links-list .links-wrapper li a:after {
  position: relative;
  top: 2px;
  content: "";
  display: block;
  height: 3px;
  background-color: #fff;
  width: 0px;
  transition: width .3s linear;
}
/* line 168, ../sass/style.scss */
#menu .menu-links-list .links-wrapper li a:hover:after, #menu .menu-links-list .links-wrapper li a:focus:after, #menu .menu-links-list .links-wrapper li a:active:after {
  width: 100%;
}

/* line 185, ../sass/style.scss */
.modal-window {
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  z-index: 999;
  transition: opacity .3s linear;
  animation-fill-mode: both;
}
/* line 201, ../sass/style.scss */
.modal-window .modal-body-content {
  position: relative;
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0 0 15px gray;
  border-radius: 4px;
  align-self: center;
  max-width: 650px;
  height: 90vh;
  background-color: #ebebeb;
  overflow-y: auto;
}
/* line 203, ../sass/style.scss */
.modal-window .modal-body-content .close {
  position: absolute;
  right: 0;
  padding-top: 10px;
  color: #FFF;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 27px;
  border-radius: 0 4px;
  background: #470a7c;
  opacity: 1;
}
/* line 216, ../sass/style.scss */
.modal-window .modal-body-content::-webkit-scrollbar-track {
  display: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
/* line 223, ../sass/style.scss */
.modal-window .modal-body-content::-webkit-scrollbar {
  display: none;
  width: 5px;
  background-color: #F5F5F5;
}
/* line 229, ../sass/style.scss */
.modal-window .modal-body-content::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #494949;
}
/* line 247, ../sass/style.scss */
.modal-window .modal-body-content .img-holder {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: block;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
/* line 257, ../sass/style.scss */
.modal-window .modal-body-content .main-content {
  padding: 15px;
  height: auto;
  width: 100%;
}
/* line 263, ../sass/style.scss */
.modal-window .modal-body-content .main-content .modal-heading {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
/* line 271, ../sass/style.scss */
.modal-window .modal-body-content .google-maps-holder iframe {
  width: 100%;
  height: 200px;
}

/* line 280, ../sass/style.scss */
#modalFirst .img-holder {
  background-image: url("../images/slide1.jpg");
}

/* line 285, ../sass/style.scss */
#modalSecond .img-holder {
  background-image: url("../images/slide2.jpg");
}

/* line 293, ../sass/style.scss */
.menu-trigger-open, .menu-trigger-close {
  position: fixed;
  right: 5vw;
  top: 0;
  width: fit-content;
  display: block;
  padding: 10px;
  height: 100px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

/* line 312, ../sass/style.scss */
.menu-trigger-close {
  z-index: 101;
  background-color: #343a40;
  color: white;
}

/* line 327, ../sass/style.scss */
#langShow {
  position: fixed;
  bottom: 3em;
  left: 1em;
  font-size: 25px;
  border-radius: 3px;
  z-index: 11;
  transition: .3s linear;
  background-color: #470a7c;
  color: #fff;
  border: 1px solid #470a7c;
}
/* line 338, ../sass/style.scss */
#langShow:hover {
  background: #620eab;
}
/* line 341, ../sass/style.scss */
#langShow:focus, #langShow:active {
  box-shadow: 0 0 0 3px #9631ee;
}
@media screen and (max-width: 450px) {
  /* line 327, ../sass/style.scss */
  #langShow {
    font-size: 20px;
    bottom: 2em;
    left: 1em;
  }
}

/* line 350, ../sass/style.scss */
#langShowerMenu {
  background-color: #fff;
  position: fixed;
  bottom: 7.25em;
  font-size: 17px;
  box-shadow: 0 0 0 2px #470a7c;
  left: 1.8em;
  z-index: 10;
  height: 105px;
  overflow: hidden;
  animation: plusHeight .3s 1 linear both;
  transition: .3s linear;
}
/* line 362, ../sass/style.scss */
#langShowerMenu a {
  color: black;
  width: 100%;
  padding: 0.5em;
  transition: background .3s linear;
}
/* line 367, ../sass/style.scss */
#langShowerMenu a:hover {
  background: #7d12da;
}
/* line 371, ../sass/style.scss */
#langShowerMenu.hiddddden {
  animation: minusHeight .3s 1 linear both;
}
@media screen and (max-width: 450px) {
  /* line 350, ../sass/style.scss */
  #langShowerMenu {
    bottom: 4.75em;
    left: 1.33em;
  }
}

@keyframes minusHeight {
  0% {
    height: 72px;
  }
  100% {
    height: 0;
  }
}
@keyframes plusHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 72px;
  }
}
/* line 393, ../sass/style.scss */
.sec2 .row h2 {
  text-align: center;
  width: 100%;
}
/* line 402, ../sass/style.scss */
.sec2 .row .gray-anonses .row .anonse {
  padding: 0;
  transition: .2s linear;
  cursor: pointer;
}
/* line 407, ../sass/style.scss */
.sec2 .row .gray-anonses .row .anonse:hover, .sec2 .row .gray-anonses .row .anonse:focus, .sec2 .row .gray-anonses .row .anonse:active {
  box-shadow: 0 0 10px black;
}
/* line 410, ../sass/style.scss */
.sec2 .row .gray-anonses .row .anonse .btn {
  margin-top: 15px;
  border: none;
  background-color: #470a7c;
  transition: box-shadow .3s linear;
}
/* line 416, ../sass/style.scss */
.sec2 .row .gray-anonses .row .anonse .btn:focus {
  box-shadow: 0 0 0 3px #9631ee;
}
/* line 420, ../sass/style.scss */
.sec2 .row .gray-anonses .row .anonse .btn:hover, .sec2 .row .gray-anonses .row .anonse .btn:active {
  outline: none;
  border: none;
}
/* line 435, ../sass/style.scss */
.sec2 .row #anonseOne .card-img-holder {
  background-image: url("../images/slide1.jpg");
}
/* line 441, ../sass/style.scss */
.sec2 .row #anonseTwo .card-img-holder {
  background-image: url("../images/slide2.jpg");
}
/* line 446, ../sass/style.scss */
.sec2 .row #anonseThree .card-img-holder {
  background-color: lightgray;
}
/* line 452, ../sass/style.scss */
.sec2 .row #anonseFour .card-img-holder {
  background-color: lightgray;
}
/* line 458, ../sass/style.scss */
.sec2 .row #anonseFive .card-img-holder {
  background-color: lightgray;
}
/* line 464, ../sass/style.scss */
.sec2 .row #anonseSix .card-img-holder {
  background-color: lightgray;
}

/* line 478, ../sass/style.scss */
.sec3 .gray-anonses .row div {
  overflow: hidden;
  background-color: lightgray;
}
/* line 482, ../sass/style.scss */
.sec3 .gray-anonses .row div p {
  width: 100%;
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 502, ../sass/style.scss */
.sec4 {
  line-height: 1.7;
}
/* line 512, ../sass/style.scss */
.sec4 .row .col .card .card-img-holder {
  min-height: 250px;
  background-color: lightgray;
}
/* line 517, ../sass/style.scss */
.sec4 .row .col .card .btn {
  margin-top: 15px;
  border: none;
  background-color: #470a7c;
  transition: box-shadow .3s linear;
}
/* line 523, ../sass/style.scss */
.sec4 .row .col .card .btn:focus {
  box-shadow: 0 0 0 3px #9631ee;
}
/* line 527, ../sass/style.scss */
.sec4 .row .col .card .btn:hover, .sec4 .row .col .card .btn:active {
  outline: none;
  border: none;
}

/* line 540, ../sass/style.scss */
.sec5 {
  background: url("../images/team.jpg");
  background-position: center center;
  line-height: 1.7;
  color: white;
  box-shadow: inset 0 0 20px #470a7c, inset 0 0 200px #000;
}
/* line 549, ../sass/style.scss */
.sec5 .rgba-bg h2.big-text {
  padding-top: 2em;
}
/* line 555, ../sass/style.scss */
.sec5 .rgba-bg {
  background-color: rgba(71, 10, 124, 0.7);
}
/* line 561, ../sass/style.scss */
.sec5 .row-cols-4 .col-6 .infographic-handler {
  font-size: 28px;
  height: 100%;
  color: #FFA200;
}
/* line 566, ../sass/style.scss */
.sec5 .row-cols-4 .col-6 .infographic-handler span {
  color: white;
}

/* line 578, ../sass/style.scss */
.sec7 h2.big-text {
  margin-top: 0;
}
/* line 583, ../sass/style.scss */
.sec7 .slider-1 {
  position: relative;
  line-height: 1.5;
}
/* line 590, ../sass/style.scss */
.sec7 .slider-1 .owl-stage-outer .owl-stage .owl-item .card {
  border: none;
}
/* line 597, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
/* line 605, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationRight {
  position: absolute;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
/* line 613, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft,
.sec7 .slider-1 .falseNavigationRight {
  transition: .3s linear;
  color: #FFA200;
}
/* line 618, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft:hover, .sec7 .slider-1 .falseNavigationLeft:focus, .sec7 .slider-1 .falseNavigationLeft:active,
.sec7 .slider-1 .falseNavigationRight:hover,
.sec7 .slider-1 .falseNavigationRight:focus,
.sec7 .slider-1 .falseNavigationRight:active {
  box-shadow: none;
}
/* line 624, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft:hover,
.sec7 .slider-1 .falseNavigationRight:hover {
  opacity: .6;
}
