/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/style.scss */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

/* line 19, ../sass/style.scss */
.h100vh {
  height: 100vh;
}

/* line 22, ../sass/style.scss */
.mh25vh {
  min-height: 25vh;
}

/* line 26, ../sass/style.scss */
.big-text {
  font-size: 2em;
}

/* line 30, ../sass/style.scss */
.bld {
  font-weight: bold;
}

/* line 34, ../sass/style.scss */
.mw1280 {
  max-width: 1280px;
}

/* line 38, ../sass/style.scss */
.no-bg {
  background: none;
}

/* line 41, ../sass/style.scss */
.h2-mt-mb-7vh, .sec2 .row h2, .sec3 h2.big-text, .sec4 h2.big-text, .sec5 h2.big-text {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

/* line 45, ../sass/style.scss */
.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

/* line 53, ../sass/style.scss */
header {
  -webkit-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -moz-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -o-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -ms-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  box-shadow: 0 0 5px black;
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* line 65, ../sass/style.scss */
header .navbar {
  width: auto;
}
/* line 70, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a {
  font-weight: bold;
  transition: .3s linear;
  width: max-content;
}
/* line 74, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a:after {
  position: relative;
  top: 2px;
  content: "";
  display: block;
  height: 2px;
  background-color: #8A00FF;
  width: 0px;
  transition: width .3s linear;
}
/* line 84, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a:hover:after, header .navbar .collapse .navbar-nav .nav-item a:focus:after, header .navbar .collapse .navbar-nav .nav-item a:active:after {
  width: 100%;
}

/* line 94, ../sass/style.scss */
.main-section {
  background: url("../images/1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 99, ../sass/style.scss */
.main-section .d-flex h1.big-text {
  color: white;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  -ms-transition: .3s linear;
  transition: .3s linear;
}
@media screen and (max-width: 576px) {
  /* line 108, ../sass/style.scss */
  .main-section .d-flex h1.big-text {
    font-size: 1.5em;
  }
}
/* line 112, ../sass/style.scss */
.main-section .d-flex .custom-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.25rem;
  -webkit-transform: translate(-48%, 0%);
  -moz-transform: translate(-48%, 0%);
  -o-transform: translate(-48%, 0%);
  -ms-transform: translate(-48%, 0%);
  transform: translate(-48%, 0%);
  color: white;
  animation: bouncing-btn .5s linear infinite both;
}
/* line 124, ../sass/style.scss */
.main-section .d-flex .custom-btn:focus, .main-section .d-flex .custom-btn:hover, .main-section .d-flex .custom-btn:active {
  box-shadow: none;
  outline: none;
  border: none;
}
@keyframes bouncing-btn {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
/* line 148, ../sass/style.scss */
.sec2 .row h2 {
  text-align: center;
  width: 100%;
}
/* line 155, ../sass/style.scss */
.sec2 .row .gray-anonses .row div {
  overflow: hidden;
  background-color: lightgray;
}
/* line 158, ../sass/style.scss */
.sec2 .row .gray-anonses .row div p {
  width: 100%;
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 169, ../sass/style.scss */
.sec2 .row .gray-anonse {
  background-color: lightgray;
  overflow: hidden;
}
/* line 172, ../sass/style.scss */
.sec2 .row .gray-anonse p {
  width: 100%;
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 190, ../sass/style.scss */
.sec3 .carousel {
  width: 80vw;
}
/* line 193, ../sass/style.scss */
.sec3 .carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
/* line 197, ../sass/style.scss */
.sec3 .carousel .carousel-item {
  min-height: 450px;
  line-height: 1.7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 203, ../sass/style.scss */
.sec3 .carousel .carousel-item h5 {
  font-weight: bold;
}
/* line 208, ../sass/style.scss */
.sec3 .carousel .item1 {
  background-image: url("../images/slide1.jpg");
}
/* line 213, ../sass/style.scss */
.sec3 .carousel .item2 {
  background-image: url("../images/slide2.jpg");
}
/* line 217, ../sass/style.scss */
.sec3 .carousel .item3 {
  background-image: url("../images/slide3.jpg");
}

/* line 226, ../sass/style.scss */
.sec4 {
  line-height: 1.7;
}
/* line 234, ../sass/style.scss */
.sec4 .row .col .card .card-img-holder {
  min-height: 250px;
  background-color: lightgray;
}
/* line 238, ../sass/style.scss */
.sec4 .row .col .card .btn {
  margin-top: 15px;
}

/* line 248, ../sass/style.scss */
.sec5 {
  line-height: 1.7;
}
/* line 255, ../sass/style.scss */
.sec5 .row-cols-4 .col-6 .infographic-handler {
  font-size: 28px;
  height: 100%;
}
