/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

/* line 20, ../sass/style.scss */
.mt10vh {
  margin-top: 10vh;
}

/* line 23, ../sass/style.scss */
.mb10vh {
  margin-bottom: 10vh;
}

/* line 26, ../sass/style.scss */
.h100vh {
  height: 100vh;
}

/* line 29, ../sass/style.scss */
.mh25vh {
  min-height: 25vh;
}

/* line 33, ../sass/style.scss */
.big-text {
  font-size: 2em;
}

/* line 37, ../sass/style.scss */
.bld {
  font-weight: bold;
}

/* line 41, ../sass/style.scss */
.mw1280 {
  max-width: 1280px;
}

/* line 45, ../sass/style.scss */
.no-bg {
  background: none;
}

/* line 48, ../sass/style.scss */
.h2-mt-mb-7vh, .sec2 .row h2, .sec3 h2.big-text, .sec4 h2.big-text, .sec5 .rgba-bg h2.big-text, .sec7 h2.big-text {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

/* line 52, ../sass/style.scss */
.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

/* line 58, ../sass/style.scss */
.bgPlacement, .sec3 .carousel .carousel-item, .sec5 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 66, ../sass/style.scss */
header {
  -webkit-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -moz-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -o-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  -ms-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
  box-shadow: 0 0 5px black;
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* line 78, ../sass/style.scss */
header .navbar {
  width: auto;
}
/* line 83, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a {
  font-weight: bold;
  transition: .3s linear;
  width: max-content;
}
/* line 87, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a:after {
  position: relative;
  top: 2px;
  content: "";
  display: block;
  height: 2px;
  background-color: #8A00FF;
  width: 0px;
  transition: width .3s linear;
}
/* line 97, ../sass/style.scss */
header .navbar .collapse .navbar-nav .nav-item a:hover:after, header .navbar .collapse .navbar-nav .nav-item a:focus:after, header .navbar .collapse .navbar-nav .nav-item a:active:after {
  width: 100%;
}

/* line 107, ../sass/style.scss */
.menu-trigger-open, .menu-trigger-close {
  position: fixed;
  right: 5vw;
  top: 0;
  width: fit-content;
  display: block;
  padding: 10px;
  height: 100px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

/* line 121, ../sass/style.scss */
.menu-trigger-close {
  z-index: 101;
  display: none;
  background-color: #343a40;
  color: white;
}

/* line 129, ../sass/style.scss */
.main-section {
  background: url("../images/1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 134, ../sass/style.scss */
.main-section .d-flex h1.big-text {
  color: white;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  -ms-transition: .3s linear;
  transition: .3s linear;
}
@media screen and (max-width: 576px) {
  /* line 143, ../sass/style.scss */
  .main-section .d-flex h1.big-text {
    font-size: 1.5em;
  }
}
/* line 147, ../sass/style.scss */
.main-section .d-flex .custom-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.25rem;
  -webkit-transform: translate(-48%, 0%);
  -moz-transform: translate(-48%, 0%);
  -o-transform: translate(-48%, 0%);
  -ms-transform: translate(-48%, 0%);
  transform: translate(-48%, 0%);
  color: white;
  animation: bouncing-btn .5s linear infinite both;
}
/* line 159, ../sass/style.scss */
.main-section .d-flex .custom-btn:focus, .main-section .d-flex .custom-btn:hover, .main-section .d-flex .custom-btn:active {
  box-shadow: none;
  outline: none;
  border: none;
}
@keyframes bouncing-btn {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
/* line 183, ../sass/style.scss */
.sec2 .row h2 {
  text-align: center;
  width: 100%;
}
/* line 190, ../sass/style.scss */
.sec2 .row .gray-anonses .row div {
  overflow: hidden;
  background-color: lightgray;
}
/* line 193, ../sass/style.scss */
.sec2 .row .gray-anonses .row div p {
  width: 100%;
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 204, ../sass/style.scss */
.sec2 .row .gray-anonse {
  background-color: lightgray;
  overflow: hidden;
}
/* line 207, ../sass/style.scss */
.sec2 .row .gray-anonse p {
  width: 100%;
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 225, ../sass/style.scss */
.sec3 .carousel {
  width: 80vw;
}
/* line 228, ../sass/style.scss */
.sec3 .carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
/* line 232, ../sass/style.scss */
.sec3 .carousel .carousel-item {
  min-height: 450px;
  line-height: 1.7;
}
/* line 236, ../sass/style.scss */
.sec3 .carousel .carousel-item h5 {
  font-weight: bold;
}
/* line 241, ../sass/style.scss */
.sec3 .carousel .item1 {
  background-image: url("../images/slide1.jpg");
}
/* line 246, ../sass/style.scss */
.sec3 .carousel .item2 {
  background-image: url("../images/slide2.jpg");
}
/* line 250, ../sass/style.scss */
.sec3 .carousel .item3 {
  background-image: url("../images/slide3.jpg");
}
/* line 253, ../sass/style.scss */
.sec3 .carousel .carousel-control-prev, .sec3 .carousel .carousel-control-next {
  font-size: 40px;
  opacity: .7;
  color: #820CE6;
}
/* line 259, ../sass/style.scss */
.sec3 .carousel .carousel-indicators li {
  background-color: #820CE6;
}

/* line 269, ../sass/style.scss */
.sec4 {
  line-height: 1.7;
}
/* line 277, ../sass/style.scss */
.sec4 .row .col .card .card-img-holder {
  min-height: 250px;
  background-color: lightgray;
}
/* line 281, ../sass/style.scss */
.sec4 .row .col .card .btn {
  margin-top: 15px;
  border: none;
  background-color: #820CE6;
  transition: box-shadow .3s linear;
}
/* line 286, ../sass/style.scss */
.sec4 .row .col .card .btn:focus {
  box-shadow: 0 0 0 3px #ca92f9;
}
/* line 289, ../sass/style.scss */
.sec4 .row .col .card .btn:hover, .sec4 .row .col .card .btn:active {
  outline: none;
  border: none;
}

/* line 301, ../sass/style.scss */
.sec5 {
  background: url("../images/team.jpg");
  background-position: center center;
  line-height: 1.7;
  color: white;
  box-shadow: inset 0 0 20px #7309CC, inset 0 0 200px #000;
}
/* line 309, ../sass/style.scss */
.sec5 .rgba-bg h2.big-text {
  padding-top: 2em;
}
/* line 315, ../sass/style.scss */
.sec5 .rgba-bg {
  background-color: rgba(115, 9, 204, 0.7);
}
/* line 320, ../sass/style.scss */
.sec5 .row-cols-4 .col-6 .infographic-handler {
  font-size: 28px;
  height: 100%;
  color: #FFA200;
}
/* line 324, ../sass/style.scss */
.sec5 .row-cols-4 .col-6 .infographic-handler span {
  color: white;
}

/* line 336, ../sass/style.scss */
.sec7 h2.big-text {
  margin-top: 0;
}
/* line 340, ../sass/style.scss */
.sec7 .slider-1 {
  position: relative;
  line-height: 1.5;
}
/* line 346, ../sass/style.scss */
.sec7 .slider-1 .owl-stage-outer .owl-stage .owl-item .card {
  border: none;
}
/* line 353, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
/* line 361, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationRight {
  position: absolute;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
/* line 369, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft, .sec7 .slider-1 .falseNavigationRight {
  transition: .3s linear;
  color: #FFA200;
}
/* line 372, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft:hover, .sec7 .slider-1 .falseNavigationLeft:focus, .sec7 .slider-1 .falseNavigationLeft:active, .sec7 .slider-1 .falseNavigationRight:hover, .sec7 .slider-1 .falseNavigationRight:focus, .sec7 .slider-1 .falseNavigationRight:active {
  box-shadow: none;
}
/* line 375, ../sass/style.scss */
.sec7 .slider-1 .falseNavigationLeft:hover, .sec7 .slider-1 .falseNavigationRight:hover {
  opacity: .6;
}
