.footer{
    padding: 2rem;
    p{
        color: #fff;
        margin-bottom: 2rem;

        a{
            color: #fff;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover{
                text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
            }
        }
    }

    ul{
        li{
            margin-right: 1rem;
            font-size: 1.5em;

            a{
                padding: .5em;
                color: #fff;
                text-decoration: none;
                transition: ease 0.5s all;
                border: 1px solid transparent;

                &:hover {
                  border: 1px solid #fff;
                  opacity: 60%;
                }
            }
        }
    }
    
}