/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bgPos: center center;
$bgRp: no-repeat;
$bgSz: cover;

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
}

.h100vh {
	height: 100vh;
}

.big-text {
	font-size: 2em;
}

.bld {
	font-weight: bold;
}

.no-bg {
	background: none;
}

header {

	-webkit-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
	-moz-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
	-o-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
	-ms-background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);
	background-image: linear-gradient(to left, #910FFF, #EB1DD5, #FFDF09);

	box-shadow: 0 0 5px black;
	position: fixed;
	width:100%;
	.navbar {
		width: auto;
	}
}

.main-section {
	background: url("../images/1.jpg") $bgRp;
	background-position: $bgPos;
	background-size: $bgSz;
	.d-flex {
		h1.big-text {
			color:white;
			-webkit-transition: .3s linear;
			-moz-transition: .3s linear;
			-o-transition: .3s linear;
			-ms-transition: .3s linear;
			transition: .3s linear;
		}
		@media screen and (max-width: 576px) {
			h1.big-text {
				font-size: 1.5em;
			}
		}
		.custom-btn {
			position: absolute;
			bottom:0;
			left:50%;
			-webkit-transform:translate(-48%, 0%);
			-moz-transform:translate(-48%, 0%);
			-o-transform:translate(-48%, 0%);
			-ms-transform:translate(-48%, 0%);
			transform:translate(-48%, 0%);
			color:white;

		}
	}
}