/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin transform($property) {
	-webkit-transform: $property;
	-moz-transform: $property;
	-ms-transform: $property;
	-o-transform: $property;
	transform: $property;
}

// @include transform(rotate(30deg)) - пример использования

$bgPos: center center;
$bgRp: no-repeat;
$bgSz: cover;
$yellow: #FFA200;
$dark: #343a40;

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
}

// Custom Styles
.mt10vh {
	margin-top: 10vh;
}
.mb10vh {
	margin-bottom: 10vh;
}
.h100vh {
	height: 100vh;
}
.mh25vh {
	min-height: 25vh;
}

.big-text {
	font-size: 2em;
}

.bld {
	font-weight: bold;
}

.mw1280 {
	max-width: 1280px;
}

.no-bg {
	background: none;
}
.h2-mt-mb-7vh {
	margin-top: 7vh;
	margin-bottom: 7vh;
}
.card-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
}

.bgPlacement {
	background-size: $bgSz;
	background-position: $bgPos;
	background-repeat: $bgRp;
}
.h100vh {
	height: 100vh;
}
a {
	text-decoration: none;
}
// Custom Styles

//  --------------- MENU ---------------
#menu {	
	position: fixed;	
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	display: none;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	&:before {
		@extend .bgPlacement;
		background-image: url("../images/background.jpg");
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		filter:grayscale(100%);
	}
	.menu-links-list {
		position: relative;
		line-height: 1.5;
		background-color: rgba($dark, .9);		
		.links-wrapper {
			position: absolute;
			top: 50%;
			left: 20%;
			transform:translate(-20%, -50%);

			li {
				width: max-content;
				a {
					color:white;
					font-weight: bold;
					transition: .3s linear;
					width: max-content;
					text-decoration: none;
					@media screen and (max-width: 768px) {
						font-size: 25px;						
					}
					@media screen and (max-width: 576px) {
							font-size: 20px;
						}
					&:after {
						position: relative;
						// left: 15px;
						top: 2px;
						content: "";
						display: block;
						height: 3px;
						background-color: #fff;
						width: 0px;
						transition:width .3s linear;
					}
					&:hover:after, &:focus:after, &:active:after {
						width: 100%;
					}
				}
			}
		}
		
	}			
}
//  --------------- MENU ---------------


//  --------------- MENU BUTTON ---------------

.menu-trigger-open {
	position: fixed;
	right: 5vw;
	top: 0;
	width: fit-content;
	display: block;
	padding: 10px;
	height: 100px;
	background-color: #fff;
	z-index: 100;
	box-shadow: 0 0 10px black;
	cursor: pointer;
	-webkit-transition:opacity .3s linear;
	-moz-transition:opacity .3s linear;
	-ms-transition:opacity .3s linear;
	-o-transition:opacity .3s linear;
	transition:opacity .3s linear;
}

.menu-trigger-close {
	@extend .menu-trigger-open;
	z-index: 101;
	background-color: $dark;
	color: white;
}
//  --------------- MENU BUTTON ---------------

// --------------- Section 2 ---------------

.sec2 {
	.row {
		h2 {
			@extend .h2-mt-mb-7vh;
			text-align: center;
			width: 100%;
		}
		.gray-anonses {
			.row {
				div {
					overflow: hidden;
					background-color: lightgray;
					p {
						width: 100%;
						padding: 1.5em;
						position: absolute;
						top: 50%;
						left:50%;
						transform:translate(-50%, -50%);
					}
				}
			}
		}
		.gray-anonse {
			background-color: lightgray;
			overflow: hidden;
			p {
				width: 100%;
				padding: 1.5em;
				position: absolute;
				top: 50%;
				left:50%;
				transform:translate(-50%, -50%);
			}
		}
	}
}

// --------------- Section 3 ---------------

.sec3 {
	.gray-anonses {
		.row {
			div {
				overflow: hidden;
				background-color: lightgray;
				p {
					width: 100%;
					padding: 1.5em;
					position: absolute;
					top: 50%;
					left:50%;
					transform:translate(-50%, -50%);
				}
			}
		}
	}
	.gray-anonse {
		background-color: lightgray;
		overflow: hidden;
		p {
			width: 100%;
			padding: 1.5em;
			position: absolute;
			top: 50%;
			left:50%;
			transform:translate(-50%, -50%);
		}
	}
	
	h2.big-text {
		@extend .h2-mt-mb-7vh;
	}	
		
}

// --------------- Section 4 ---------------

.sec4 {
	line-height: 1.7;
	h2.big-text {
		@extend .h2-mt-mb-7vh;
	}
	.row {
		.col {
			.card {
				.card-img-holder{
					min-height: 250px;
					background-color: lightgray;
				}
				.btn {
					margin-top: 15px;
					border: none;
					background-color: #820CE6;
					transition: box-shadow .3s linear;
					&:focus {
						box-shadow: 0 0 0 3px lighten(#820CE6, 30%);
					}
					&:hover,&:active {
						outline:none;
						border:none;
					}
				}
			}
		}
	}
}

// --------------- Section 5 ---------------

.sec5 {
	@extend .bgPlacement;
	background:url("../images/team.jpg");
	background-position: center center;
	line-height: 1.7;
	color:white;
	box-shadow: inset 0 0 20px #7309CC, inset 0 0 200px #000;
	.rgba-bg {
		h2.big-text {
			@extend .h2-mt-mb-7vh;
			padding-top: 2em;
		}
	}
	
	.rgba-bg {
		background-color: rgba(#7309CC,0.7);
	}
	.row-cols-4 {
		.col-6 {
			.infographic-handler{
				font-size: 28px;
				height: 100%;
				color: $yellow;
				span {
					color:white;
				}
			}
		}
	}
}

// --------------- Section X ---------------

// --------------- Section 7 ---------------
.sec7 {
	h2.big-text {
		@extend .h2-mt-mb-7vh;
		margin-top: 0;
	}
	.slider-1 {
        position: relative;
        line-height: 1.5;
        .owl-stage-outer {
        	.owl-stage {
				.owl-item {
					.card {
			        	border:none;
			        }
				}			        
        	}
        }
			
            .falseNavigationLeft{
                position: absolute;
                height: 100%;
                top: 50%;
                left: 0;
                transform: translate(0%, -50%);
            }

            .falseNavigationRight {
                position: absolute;
                height: 100%;
                top: 50%;
                right: 0;
                transform: translate(0%, -50%);
            }

            .falseNavigationLeft,.falseNavigationRight {
                transition: .3s linear;
                color: $yellow;
                &:hover, &:focus, &:active {
                    box-shadow: none;
                }
                &:hover {
                    opacity: .6;
                }
            }
    }

}